body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: rgb(187, 138, 210);
    color: white;
    padding: 10px;
}

p {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

.text_limited {
    max-width: 100%;
    white-space: pre-line;
    overflow: hidden;
    margin-left: 230px;
    margin-right: 230px;
}